<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
    }
    h1, h2 {
      color: #333;
    }
    ol {
      margin: 20px;
    }
    li {
      margin: 10px 0;
      color: #666;
    }
  </style>
</head>
<body>
  <h1>DJANGO REST Framework</h1>
  <h2>Permits</h2>
  <ol>
    <li>long-term-permits/ Get all long term permits</li>
    <li>long-term-permits/ Get long term permit details<int:pk>/</li>
    <li>long-term-permits/<path:permit_number>/approval/ Get long term permits for approval</li>
    <li>residence/<str:passport_number>/ Compute Years Of Residence</li>
    <li>permits/pending/ Get Pending Permits</li>
  </ol>
  <h2>Omang</h2>
  <ol>
    <li>omang/create/</li>
    <li>omangs/<int:pk>/</li>
    <li>omang/<str:ID_Number>/</li>
    <li>success/</li>
    <li>omang-list/</li>
  </ol>
</body>
</html>